header{
background: '#ebebeb'
}

body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: '#777' 
    background-color: '#777'
    width: '960px'
    font-size: '18px'
    nav{
        background-color: '#ebebeb'
    
    }
    section{
        float: left;
        background-color: '#ebebeb'
        clear: both
        overflow: auto
        width: '495px'
        }
       
        article{
            clear: both
        }
    aside{
        background: '#ebebeb'
    }




}

footer{
    background: '#ebebeb'
}